<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
  <h1 fxFlex="100">Recommendations</h1>

  <mat-card fxFlex="100">
    <mat-card-title>
      <mat-icon class="fa fa-home"></mat-icon>
      Alternative Accommodations
    </mat-card-title>
    <mat-card-content fxLayoutAlign="space-between start" fxLayout="row wrap">
      <mat-card class="alternate-block" fxFlex="49" fxFlex.lt-lg="100">
        <mat-card-title>Hemsley Holiday Flats</mat-card-title>
        <mat-card-content>
          <p>If you are not able to find the dates that you require, then we recommend the following establishment.</p>

          <table>
            <thead>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <tr>
              <td>Address:</td>
              <td>Unknown</td>
            </tr>
            <tr>
              <td>Landline:</td>
              <td>(01262) 672603</td>
            </tr>
            <tr>
              <td>Mobile:</td>
              <td>Unknown</td>
            </tr>
            </tbody>
          </table>

          <p><i>Self Catering. If you are a wheelchair user and NOT able to transfer, please ask for the Bungalow.</i>
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="alternate-block" fxFlex="49" fxFlex.lt-lg="100">
        <mat-card-title>Providence Place</mat-card-title>
        <mat-card-content>
          <p>If you are not able to find the dates that you require, or are looking for a Guest House, then we recommend
            the following establishment, with National Accessibility Scheme (NAS) Mobility 2.</p>

          <table>
            <thead>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <tr>
              <td>Address:</td>
              <td>Unknown</td>
            </tr>
            <tr>
              <td>Landline:</td>
              <td>(01262) 603840</td>
            </tr>
            <tr>
              <td>Mobile:</td>
              <td>Unknown</td>
            </tr>
            </tbody>
          </table>

          <p><i>Guest House</i></p>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
