<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">
  <h1 fxFlex="100">Registration</h1>

  <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <form fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start"
      [formGroup]="registrationForm"
      (ngSubmit)="register()">

      <div fxFlex="45" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>Username</mat-label>
          <input matInput [formControlName]="'username'"/>
          <mat-icon matSuffix class="fa fa-user"></mat-icon>
          <mat-hint>Please do NOT use your email address</mat-hint>

          <mat-error *ngIf="registrationForm.get('username').invalid">{{getErrorMessage('username')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>E-mail</mat-label>
          <input matInput [formControlName]="'email'" type="email"/>
          <mat-icon matSuffix class="fa fa-envelope"></mat-icon>
          <mat-hint>Email address</mat-hint>

          <mat-error *ngIf="registrationForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>Password</mat-label>
          <input matInput [formControlName]="'password'" type="password"/>
          <mat-icon matSuffix class="fa fa-lock"></mat-icon>

          <mat-error *ngIf="registrationForm.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>Confirmation</mat-label>
          <input matInput [formControlName]="'password_confirm'" type="password"/>
          <mat-icon matSuffix class="fa fa-lock"></mat-icon>
          <mat-hint>Please type your password again to confirm it's correct</mat-hint>
        </mat-form-field>
      </div>

      <div fxFlex="45" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>First name</mat-label>
          <input matInput [formControlName]="'firstname'"/>
          <mat-icon matSuffix class="fa fa-clipboard"></mat-icon>

          <mat-error *ngIf="registrationForm.get('firstname').invalid">{{getErrorMessage('firstname')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>Last name</mat-label>
          <input matInput [formControlName]="'lastname'"/>
          <mat-icon matSuffix class="fa fa-clipboard"></mat-icon>

          <mat-error *ngIf="registrationForm.get('lastname').invalid">{{getErrorMessage('lastname')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>Home phone</mat-label>
          <input matInput [formControlName]="'homephone'"/>
          <mat-icon matSuffix class="fa fa-phone"></mat-icon>

          <mat-error *ngIf="registrationForm.get('homephone').invalid">{{getErrorMessage('homephone')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>Mobile phone</mat-label>
          <input matInput [formControlName]="'mobilephone'"/>
          <mat-icon matSuffix class="fa fa-mobile-phone"></mat-icon>

          <mat-error *ngIf="registrationForm.get('mobilephone').invalid">{{getErrorMessage('mobilephone')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>Address</mat-label>
          <textarea [formControlName]="'address'" matInput placeholder="89 Barbie Road,
Tesla Lane,
Sheffield,
S1 ABC" rows="4"></textarea>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="column" style="padding: 1em 0;">
        <mat-checkbox [formControlName]="'holiday_perm'">I'm Happy to receive Christmas cards</mat-checkbox>
        <mat-checkbox [formControlName]="'promotion_perm'">I'm happy to receive promotional material</mat-checkbox>
      </div>

      <div fxFlex="100" fxLayout="row" style="padding: 1em 0;" *ngIf="error">
        <app-error-list [httpError]="error">

        </app-error-list>
      </div>

      <div fxFlex="100" fxLayout="row" style="padding: 1em 0;">
        <button mat-raised-button color="accent" [type]="'submit'" [disabled]="false">Register</button>
      </div>

    </form>
  </mat-card>

  <mat-divider [inset]="true"></mat-divider>

  <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
    <mat-card-title>Terms and Conditions</mat-card-title>
    <mat-card-content>
      <p>The information you have provided above is covered by the "Data Protection Act" and will only be used by
        'Pride-N-Joy', to assist us in assisting you to benefit from the services we provide.</p>

      <p>The information will NOT be disseminated to any other individual/s or organisations without you being informed
        and being given the option, to have your information removed.
      </p>

      <p>
        <a href="assets/privacy_policy.pdf" target="_blank">Privacy Policy</a>
        <span> | </span>
        <a href="assets/cookie_policy.pdf" target="_blank">Cookie Policy</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
