<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">
  <mat-toolbar color="primary" fxFlex="100" fxLayout="row wrap" id="header-toolbar" fxLayoutAlign="center center">

    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxFlex="80">
      <img src="https://pride-n-joy.co.uk/images/Pride-n-Joy.jpg" id="header-img-main"/>

      <div fxFlex fxLayout="row wrap" fxLayoutAlign="end center">
        <mat-icon class="fa fa-bars" fxHide.gt-xs></mat-icon>

        <div mat-ripple *ngFor="let item of navList"
             fxHide.xs
             [routerLink]="[item.route]"
             fxFlex="0 1 auto"
             class="nav-item"
             [class.active]="item.active"
             fxLayout="row"
             fxLayoutAlign="center center">
          <span class="nav-title" fxFlex="0 1 auto">
            <mat-icon [ngClass]="['fa', item.icon]" *ngIf="item.icon"></mat-icon>
            {{item.title}}
          </span>
        </div>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>
</div>
