<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">
  <h1 fxFlex="100">Get in touch</h1>

  <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
    <div fxFlex="50">
      <p>Please feel free to contact us using any of the methods shown below:</p>
      <p>
        <mat-icon class="fa fa-globe"></mat-icon>
        24, Trinity Road, Bridlington, East Yorkshire. YO15 2EY
      </p>
      <p>
        <mat-icon class="fa fa-phone"></mat-icon>
        +44 (0)1143 6 01145
      </p>
      <p>
        <mat-icon class="fa fa-skype"></mat-icon>
        pride-n-joy
      </p>
      <p>
        <mat-icon class="fa fa-envelope"></mat-icon>
        admin@pride-n-joy.co.uk
      </p>
    </div>

    <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-around center">
      <a href="https://www.facebook.com/pridenjoybridlington">
        <mat-icon class="fa fa-4x fa-facebook-f"></mat-icon>
      </a>
      <a href="https://plus.google.com/u/0/106568762021791918269">
        <mat-icon class="fa fa-4x fa-google-plus"></mat-icon>
      </a>
      <a href="https://twitter.com/Pride_N_Joy_UK">
        <mat-icon class="fa fa-4x fa-twitter"></mat-icon>
      </a>
    </div>

    <form fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start"
          [formGroup]="contactForm"
          #cform="ngForm"
          (ngSubmit)="contact()">
      <div fxFlex="45" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>Name</mat-label>
          <input matInput [formControlName]="'name'" required/>
          <mat-icon matSuffix class="fa fa-user"></mat-icon>
          <mat-hint>Full name</mat-hint>

          <mat-error *ngIf="contactForm.get('name').invalid">{{getErrorMessage('name')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>E-mail address</mat-label>
          <input matInput [formControlName]="'email'" required/>
          <mat-icon matSuffix class="fa fa-envelope"></mat-icon>
          <mat-error *ngIf="contactForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'">
          <mat-label>Telephone</mat-label>
          <input matInput [formControlName]="'phone'" required/>
          <mat-icon matSuffix class="fa fa-phone"></mat-icon>
          <mat-hint>Mobile or landline</mat-hint>
          <mat-error *ngIf="contactForm.get('phone').invalid">{{getErrorMessage('phone')}}</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="45" fxLayout="row wrap">
        <mat-form-field fxFlex="100" [color]="'accent'">
          <mat-select placeholder="Contact method" [formControlName]="'method'" required>
            <mat-option value="EMAIL">E-mail</mat-option>
            <mat-option value="SNAILMAIL">Snail mail</mat-option>
            <mat-option value="TELEPHONE">Telephone</mat-option>
          </mat-select>
          <mat-hint>Preferred method of contact</mat-hint>
          <mat-error *ngIf="contactForm.get('method').invalid">{{getErrorMessage('method')}}</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100" [color]="'accent'">
          <textarea matInput placeholder="Message" rows="4" [formControlName]="'message'" required></textarea>
          <mat-error *ngIf="contactForm.get('message').invalid">{{getErrorMessage('message')}}</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row" style="padding: 1em 0;" *ngIf="error">
        <app-error-list [httpError]="error">

        </app-error-list>
      </div>

      <div fxFlex="100" style="padding-top: 1em;">
        <button mat-raised-button color="accent" type="submit">
          <span *ngIf="!loading.contact; else loader">Send</span></button>
      </div>
    </form>
  </mat-card>

  <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 1em;">
    <mat-card-title fxFlex="100">Google Maps Directions</mat-card-title>
    <mat-card-content fxFlex="100" fxLayout="row wrap">
      <mat-form-field appearance="legacy" fxFlex="100" [color]="'accent'" fxFlex="100">
        <mat-label>Post code</mat-label>
        <input matInput [(ngModel)]="post_code"/>
        <mat-hint>Enter your post code or address</mat-hint>
      </mat-form-field>

      <agm-map [latitude]="map.center.latitude" [longitude]="map.center.longitude" [zoom]="map.zoom"
               [styles]="['Satellite']"
               [mapTypeControl]="true" [scaleControl]="false" [scrollwheel]="false"
               style="height: 250px; width: 100%; position: relative; padding: 1em 0;">
        <agm-marker [latitude]="map.center.latitude" [longitude]="map.center.longitude">
        </agm-marker>
        <agm-direction *ngIf="gotDirections" [origin]="origin"
                       [destination]="{ lat: map.center.latitude, lng: map.center.longitude}">
        </agm-direction>
      </agm-map>

      <div fxLayout="row wrap" fxLayoutGap="10px">
        <button mat-raised-button color="accent" (click)="getDirections()" [disabled]="loading.directions">
          <span *ngIf="!loading.directions; else loader">Get Directions</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="100" fxLayout="row wrap" style="margin-top: 1em;">
    <mat-card-title fxFlex="100">Help</mat-card-title>
    <mat-card-content fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <mat-card fxFlex="32">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="fa fa-info"></mat-icon>
            Brochure 2016
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/Brochure2016.png" alt="Pride-N-Joy Brochure">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="download('assets/Brochure2016.png')">
            Download
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card fxFlex="32">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="fa fa-info"></mat-icon>
            Brochure 2016
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/Brochure2017.png" alt="Pride-N-Joy Brochure">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="download('assets/Brochure2017.png')">
            Download
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card fxFlex="32">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="fa fa-info"></mat-icon>
            Brochure 2016
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/Flyer.jpg" alt="Pride-N-Joy Flyer">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="download('assets/Flyer.jpg')">
            Download
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>


<ng-template #loader>
  <mat-spinner [diameter]="25" style="margin: 10px auto;"></mat-spinner>
</ng-template>
