<div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex="100">

  <app-header fxFlex="100"></app-header>

  <div fxFlex="80" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="10px">

    <div fxFlex="20" fxLayout="row wrap">
      <h1 fxFlex="100"> Events </h1>

      <div fxFlex="100" fxLayout="row wrap">
        <mat-accordion fxFlex="100">
          <mat-expansion-panel *ngFor="let event of eventList; let i = index" [expanded]="i === 0" class="app-event-item">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{event.title}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item *ngFor="let element of event.table_data">
                <span class="trunc">
                  <mat-icon [ngClass]="['fa', element.icon]"></mat-icon>
                  <span *ngIf="element.icon !== 'fa-link'; else link">{{element.text}}</span>

                  <ng-template #link>
                    <a [href]="element.text">{{element.text}}</a>
                  </ng-template>
                </span>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div fxFlex="80">
      <router-outlet></router-outlet>
    </div>

  </div>

  <app-footer fxFlex="100"></app-footer>

</div>
