@import '../palette';

.app-event-item {
  & mat-icon {
    color: $accent-color;
  }

  & a {
    color: $accent-color;

    &:visited,
    &:focus,
    &:active {
      color: $accent-color;
    }
  }
}
.nav-item {
  text-align: center;
  cursor: pointer;
  padding: 0 1em;
  position: relative;

  &:focus {
    border: none;
    outline: none;
  }

  & .nav-title {
    display: block;
    font-weight: bold;
    color: $primary-text-color;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $accent-color;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &.active {
    background-color: $accent-color;

    & .nav-title {
      color: #ffffff;
    }
  }

  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
