<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">

  <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
    <mat-card-title>Personal information</mat-card-title>
  </mat-card>

  <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
    <mat-card-title>Email settings</mat-card-title>
  </mat-card>

  <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
    <mat-card-title>Password settings</mat-card-title>
  </mat-card>

  <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
    <mat-card-title>Booking settings</mat-card-title>
  </mat-card>

  <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
    <mat-card-title>Marketing settings</mat-card-title>
  </mat-card>

</div>
