@import '../../../palette';

:host {
  padding-top: 1.5em;
}

h4 {
  margin-top: 0;
  text-align: center;
}

.footer-image-awards {
  display: inline-block;
  width: 100px;
  height: 100px;
}

mat-icon {
  color: $accent-color;
}

p {
  margin: 0;
}
