<mat-card fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">

  <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="center start">
    <div fxFlex="20">
      <h4>Accepted Payments</h4>
      <img src="https://pride-n-joy.co.uk/images/paymenticons.png"/>
    </div>

    <div fxFlex="30" style="text-align: center;">
      <p>Pride-N-Joy</p>
      <p>24, Trinity Road, Bridlington, East Yorkshire. YO15 2EY</p>
      <p>
        <mat-icon class="fa fa-phone"></mat-icon>
        +44 (0)1143 6 01145
      </p>
      <p>
        <mat-icon class="fa fa-skype"></mat-icon>
        pride-n-joy
      </p>
      <p>
        <mat-icon class="fa fa-envelope"></mat-icon>
        admin@pride-n-joy.co.uk
      </p>

      <p style="text-align: center;">
        <a href="assets/privacy_policy.pdf" target="_blank">Privacy Policy</a>
        <span> | </span>
        <a href="assets/cookie_policy.pdf" target="_blank">Cookie Policy</a>
      </p>
    </div>

    <div fxFlex="25">
      <h4>Awards for Pride N Joy</h4>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <img src="https://pride-n-joy.co.uk/images/Small1.jpg" class="footer-image-awards"/>
        <img src="https://pride-n-joy.co.uk/images/Small2.jpg" class="footer-image-awards"/>
        <img src="https://pride-n-joy.co.uk/images/Small3.jpg" class="footer-image-awards"/>
      </div>
    </div>
  </div>

</mat-card>
